.movie-doodles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.doodle {
  position: absolute;
  color: rgba(214, 51, 132, 0.15);
  animation: floatDoodle 20s ease-in-out infinite;
}

.doodle-film {
  top: 5%;
  right: 5%;
  width: 80px;
  animation-delay: 0s;
  animation-duration: 25s;
}

.doodle-clapper {
  top: 15%;
  left: 3%;
  width: 100px;
  animation-delay: 2s;
  animation-duration: 22s;
}

.doodle-camera {
  bottom: 20%;
  right: 8%;
  width: 90px;
  animation-delay: 4s;
  animation-duration: 28s;
}

.doodle-popcorn {
  bottom: 15%;
  left: 5%;
  width: 70px;
  animation-delay: 1s;
  animation-duration: 24s;
}

.doodle-star {
  top: 50%;
  left: 2%;
  width: 60px;
  animation-delay: 3s;
  animation-duration: 20s;
}

.doodle-ticket {
  top: 30%;
  right: 2%;
  width: 110px;
  animation-delay: 5s;
  animation-duration: 26s;
}

@keyframes floatDoodle {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 0.15;
  }
  25% {
    transform: translate(20px, -30px) rotate(5deg);
    opacity: 0.2;
  }
  50% {
    transform: translate(-15px, -50px) rotate(-5deg);
    opacity: 0.18;
  }
  75% {
    transform: translate(25px, -20px) rotate(3deg);
    opacity: 0.2;
  }
}

@media (max-width: 768px) {
  .doodle {
    opacity: 0.1;
  }

  .doodle-film,
  .doodle-clapper,
  .doodle-camera,
  .doodle-popcorn,
  .doodle-star,
  .doodle-ticket {
    width: 60px;
  }
}

@media (max-width: 480px) {
  .doodle {
    opacity: 0.08;
  }

  .doodle-film,
  .doodle-clapper,
  .doodle-camera,
  .doodle-popcorn,
  .doodle-star,
  .doodle-ticket {
    width: 50px;
  }
}
